body {
    background-color: #eb14a7;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #1de1f3;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
